### Описаниезадания

1. Дан датасет, в котором указаны параметры дома и цена (price) продажи этого дома в период 2014-2015 годов.
2. Есть две таблицы train.csv для обучения модели и test.csv (без колонки price) для предсказания параметра price.
2. Исследовать данные и сделать модель, которая будет предсказывать стоимость дома (price).
4. Метрика оценки качества модели – RMSE.
5. При выполнении задания важно то, как вы исследуете данные и как приходите к выбору той или иной модели. Не делайте слишком сложные модели. 
6. В качестве выполненного задания присылайте: 
    1. табличку с предсказанными результатами
    2. тетрадку jupyter - python с вашим исследованием данных и выбором модели для предсказания.

#### Описание данных

1. date - Дата продажи дома
2. price - Стоимость продажи дома (предсказываемая переменная)
3. bedrooms - Количество спальных комнат
4. bathrooms - Количество ванных комнат
5. sqft_living - Площадь дома
6. sqft_lot - Площадь нежилой части (участка) 
7. floors - Количество этажей в доме
8. waterfront - Дом с видом на набережную
9. view - Был просмотрен
10. condition - Насколько хорошее состояние дома (в целом)
11. grade - Общий класс, присвоенный жилищному блоку, в котором находится дом.
12. sqft_above - Площадь дома без подвала
13. sqft_basement - Площадь подвала
14. yr_built - Год построения дома
15. yr_renovated - Год реконструкции дома
16. zipcode - Индекс
17. lat - Координата широты
18. long - Координата долготы
19. sqft_living15 - Площадь жилой части дома после реновации в 2015 году. Подразумевает - некоторые ремонтные работы. Это может повлиять или не повлиять на площадь участка 
20. sqft_lot15 - Площадь нежилой части (участка) после реновации в 2015 году

In [2]:
import numpy as np
import pandas as pd

In [7]:
train_data = pd.read_csv('train_data.csv')
print (train_data.shape)
train_data.head()

(17290, 20)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20140915T000000,392000.0,4,3.75,2220,3797,1.5,0,0,4,6,1330,890,1917,0,98108,47.5574,-122.315,1490,4340
1,20140730T000000,300000.0,3,2.25,1960,1585,2.0,0,0,3,7,1750,210,2003,0,98118,47.5414,-122.288,1760,1958
2,20150325T000000,440000.0,2,1.50,1330,15873,1.0,0,0,3,7,900,430,1984,0,98074,47.6359,-122.033,1610,12043
3,20150219T000000,800500.0,4,2.50,1780,11130,1.0,0,0,5,8,1780,0,1962,0,98005,47.5931,-122.178,2610,11130
4,20140701T000000,485000.0,4,1.75,1430,4096,2.0,0,0,3,7,1430,0,1900,0,98122,47.6040,-122.306,1640,3377

In [8]:
test_data = pd.read_csv('test_data.csv')
print (test_data.shape)
test_data.head()

(4323, 19)

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20141205T000000,3,1.00,890,9870,1.0,0,0,4,7,890,0,1960,0,98056,47.5398,-122.178,1270,9861
1,20140620T000000,1,1.00,800,16306,1.0,0,0,2,6,680,120,1931,0,98168,47.4916,-122.308,1270,8666
2,20140825T000000,3,2.50,1750,4200,2.0,0,0,3,7,1750,0,2005,0,98038,47.3605,-122.040,1890,4048
3,20141015T000000,3,3.25,1510,1245,3.0,0,0,3,7,1510,0,2007,0,98133,47.7293,-122.343,1510,1245
4,20140806T000000,3,1.75,1390,9585,1.0,0,0,4,7,1390,0,1973,0,98133,47.7520,-122.350,1240,8188